openapi: 3.1.0
info:
  title: Highrise Web grabs items API
  version: '2026.04'
  description: Read-only REST API for public Highrise data (users, rooms, posts, items, grabs). Generated faithfully from the official highrise-bot-sdk web-api client (github.com/pocketzworld/python-bot-sdk, src/highrise/webapi.py) and the create.highrise.game Web API reference. Highrise does not publish an OpenAPI document; this profiles the documented surface only — no invented paths.
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source: https://github.com/pocketzworld/python-bot-sdk/blob/main/src/highrise/webapi.py
  x-apievangelist-note: The Web API is read-only (GET). Single-resource endpoints return by id; collection endpoints accept filter and pagination query parameters (starts_after cursor + limit).
servers:
- url: https://webapi.highrise.game
  description: Highrise public Web API
tags:
- name: items
paths:
  /items:
    get:
      tags:
      - items
      operationId: getItems
      summary: List public items
      parameters:
      - $ref: '#/components/parameters/StartsAfter'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of items.
  /items/{item_id}:
    get:
      tags:
      - items
      operationId: getItem
      summary: Get a public item
      parameters:
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: The item.
        '404':
          description: Item not found.
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
    ItemId:
      name: item_id
      in: path
      required: true
      schema:
        type: string
    StartsAfter:
      name: starts_after
      in: query
      required: false
      description: Cursor — return results after this id.
      schema:
        type: string
